# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

wgbc/\.vs/

*.wav

dartboy/roms/pokemon\.gbc

dartboy/windows/roms/pokemon\.gb

*.rtc

*.sav

dartboy/windows/roms/games/

.idea/

dartboy/lib/generated_plugin_registrant.dart
